Repository aws-otel/aws-otel.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-otel/webteam, @vijayansarathy, @willarmiros, @NathanielRN, @vasireddy99, @anuraaga, @Aneurysm9, @bryan-aguilar, @wangzlei, @erichsueh3

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

* @aws-otel/webteam

src/docs/getting-started/collector                         @aws-otel/webteam
src/docs/getting-started/container-insights                @aws-otel/webteam @vijayansarathy
src/docs/getting-started/dotnet-sdk                        @aws-otel/webteam @willarmiros @NathanielRN
src/docs/getting-started/ecs-configurations                @aws-otel/webteam @vasireddy99 @anuraaga
src/docs/getting-started/go-sdk                            @aws-otel/webteam @Aneurysm9 @bryan-aguilar
src/docs/getting-started/java-sdk                          @aws-otel/webteam @anuraaga
src/docs/getting-started/js-sdk                            @aws-otel/webteam @willarmiros
src/docs/getting-started/lambda                            @aws-otel/webteam @NathanielRN @vasireddy99 @willarmiros @wangzlei
src/docs/getting-started/prometheus-remote-write-exporter  @aws-otel/webteam @Aneurysm9 @erichsueh3
src/docs/getting-started/python-sdk                        @aws-otel/webteam @NathanielRN
src/docs/getting-started/ruby-sdk                          @aws-otel/webteam @anuraaga @NathanielRN

Update the usage of set-output command in GH actions
  .github/workflows/pr.yml
Owners: @aws-otel/webteam

Update doc to use (#417)
  src/docs/getting-started/python-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam, @NathanielRN

Add note on stack trace recording
  src/docs/getting-started/x-ray.mdx
Owners: @aws-otel/webteam

Use latest version
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Updating vulnerable loader-util and minimatch
  package-lock.json
Owners: @aws-otel/webteam

Update downloads page for v0.24.0
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

Add v0.24.0 blogpost
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.24.0.mdx
Owners: @aws-otel/webteam

Update v0.24.0 blogpost
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.24.0.mdx
Owners: @aws-otel/webteam

Update blogpost index
  src/content/BlogPosts/blogPosts.yaml
Owners: @aws-otel/webteam

Update documentation for ADOT Java 1.20.0
  src/docs/getting-started/java-sdk/trace-auto-instr.mdx
  src/docs/getting-started/java-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam, @anuraaga

Apply suggestions from code review
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.24.0.mdx
Owners: @aws-otel/webteam

Prepare website for v0.24.0 collector release (#421)
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.24.0.mdx
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

Modify to use the appropriate nomenclature
  src/docs/components/ecs-metrics-receiver.mdx
  src/docs/components/statsd-receiver.mdx
  src/docs/components/x-ray-receiver.mdx
  src/docs/partners/datadog.mdx
  src/docs/partners/logzio.mdx
  src/docs/setup/build-collector-as-debian.mdx
  src/docs/setup/build-collector-as-rpm.mdx
  src/docs/setup/build-collector-on-windows.mdx
  src/docs/setup/ecs/create-iam-policy.mdx
  src/docs/setup/ecs/create-iam-role.mdx
  src/docs/setup/on-premises.mdx
Owners: @aws-otel/webteam
