Repository aws-otel/aws-otel.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-otel/webteam, @vijayansarathy, @willarmiros, @NathanielRN, @vasireddy99, @anuraaga, @Aneurysm9, @bryan-aguilar, @wangzlei, @erichsueh3

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

* @aws-otel/webteam

src/docs/getting-started/collector                         @aws-otel/webteam
src/docs/getting-started/container-insights                @aws-otel/webteam @vijayansarathy
src/docs/getting-started/dotnet-sdk                        @aws-otel/webteam @willarmiros @NathanielRN
src/docs/getting-started/ecs-configurations                @aws-otel/webteam @vasireddy99 @anuraaga
src/docs/getting-started/go-sdk                            @aws-otel/webteam @Aneurysm9 @bryan-aguilar
src/docs/getting-started/java-sdk                          @aws-otel/webteam @anuraaga
src/docs/getting-started/js-sdk                            @aws-otel/webteam @willarmiros
src/docs/getting-started/lambda                            @aws-otel/webteam @NathanielRN @vasireddy99 @willarmiros @wangzlei
src/docs/getting-started/prometheus-remote-write-exporter  @aws-otel/webteam @Aneurysm9 @erichsueh3
src/docs/getting-started/python-sdk                        @aws-otel/webteam @NathanielRN
src/docs/getting-started/ruby-sdk                          @aws-otel/webteam @anuraaga @NathanielRN

update download page with 0.21
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

add 0.21.0 blog post
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.21.0.mdx
Owners: @aws-otel/webteam

update 0.57.0 release note to 0.57.2
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.21.0.mdx
Owners: @aws-otel/webteam

Update website for ADOT Collector release v0.21.0 (#375)
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.21.0.mdx
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

removed references to the awsprw exporter
  src/docs/getting-started/adot-eks-add-on/config-advanced.mdx
  src/docs/getting-started/adot-eks-add-on/config-amp.mdx
  src/docs/getting-started/adot-eks-add-on/config-intro.mdx
  src/docs/getting-started/advanced-prometheus-remote-write-configurations.mdx
  src/docs/getting-started/ecs-configurations/ecs-config-section.mdx
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
  src/docs/getting-started/operator.mdx
  src/docs/getting-started/prometheus-remote-write-exporter.mdx
  src/docs/getting-started/prometheus-remote-write-exporter/eks.mdx
  src/docs/releases.mdx
Owners: @aws-otel/webteam, @vasireddy99, @anuraaga, @NathanielRN, @willarmiros, @wangzlei, @Aneurysm9, @erichsueh3

fix wording in amp config gsg
  src/docs/getting-started/adot-eks-add-on/config-amp.mdx
Owners: @aws-otel/webteam

spelling error fix
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Remove references to the `awsprometheusremotewrite` exporter (#376)
  src/docs/getting-started/adot-eks-add-on/config-advanced.mdx
  src/docs/getting-started/adot-eks-add-on/config-amp.mdx
  src/docs/getting-started/adot-eks-add-on/config-intro.mdx
  src/docs/getting-started/advanced-prometheus-remote-write-configurations.mdx
  src/docs/getting-started/ecs-configurations/ecs-config-section.mdx
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
  src/docs/getting-started/operator.mdx
  src/docs/getting-started/prometheus-remote-write-exporter.mdx
  src/docs/getting-started/prometheus-remote-write-exporter/eks.mdx
  src/docs/releases.mdx
Owners: @aws-otel/webteam, @vasireddy99, @anuraaga, @NathanielRN, @willarmiros, @wangzlei, @Aneurysm9, @erichsueh3

Override `multer` dep to `1.4.4-lts.1`
  package-lock.json
  package.json
Owners: @aws-otel/webteam

Override `multer` dep to `1.4.4-lts.1` (#377)
  package-lock.json
  package.json
Owners: @aws-otel/webteam

Adding content for healthcheck setup instructions for collector
  src/assets/img/docs/setup/ecs/create-task-definition/taskdefinition_06.png
  src/docs/setup/ecs.mdx
  src/docs/setup/ecs/create-task-definition-console.mdx
  src/docs/setup/ecs/create-task-definition-instance-console.mdx
Owners: @aws-otel/webteam

Add v0.20.1 blog post
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.20.1.mdx
Owners: @aws-otel/webteam

Update blog post
  src/content/BlogPosts/blogPosts.yaml
Owners: @aws-otel/webteam

Update v0.20.1 blog post
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.20.1.mdx
Owners: @aws-otel/webteam

Add v0.21.1 blog post
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.21.1.mdx
Owners: @aws-otel/webteam

Update downloads page
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

Update blog posts link
  src/content/BlogPosts/blogPosts.yaml
Owners: @aws-otel/webteam

Update blog posts formatting
  src/content/BlogPosts/blogPosts.yaml
Owners: @aws-otel/webteam

Update otlp-exporter.mdx AppDynamics requirements
  src/docs/components/otlp-exporter.mdx
Owners: @aws-otel/webteam

Update otlp-exporter.mdx AppDynamics requirements (#383)
  src/docs/components/otlp-exporter.mdx
Owners: @aws-otel/webteam

Chore: Allow to develop locally without a GitHub API key (#365)
  DEV_GUIDE.md
  gatsby-config.js
  src/plugins/contributorsPlugin/gatsby-node.js
Owners: @aws-otel/webteam

Update sample Lambda layer ARN's and existing versions
  src/docs/getting-started/lambda/lambda-dotnet.mdx
  src/docs/getting-started/lambda/lambda-go.mdx
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
  src/docs/getting-started/lambda/lambda-java.mdx
  src/docs/getting-started/lambda/lambda-js.mdx
  src/docs/getting-started/lambda/lambda-python.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

update java agent tag
  src/docs/getting-started/lambda/lambda-java.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Update release blogs for new lambda layers
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-lambda-layer-v0.21.0.mdx
Owners: @aws-otel/webteam

added note for APIGW
  src/docs/getting-started/lambda/lambda-java.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Updated author
  src/content/BlogPosts/blogPosts.yaml
Owners: @aws-otel/webteam

add reference to sigv4 extension
  src/docs/getting-started/adot-eks-add-on/config-intro.mdx
Owners: @aws-otel/webteam

Add ADOT info
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-lambda-layer-v0.21.0.mdx
Owners: @aws-otel/webteam

Update notice
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.20.1.mdx
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.21.1.mdx
Owners: @aws-otel/webteam

Add release notes for `v0.20.1` and `v0.21.1` (#389)
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.20.1.mdx
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.21.1.mdx
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

add reference to sigv4 extension (#388)
  src/docs/getting-started/adot-eks-add-on/config-intro.mdx
Owners: @aws-otel/webteam

Document how to send data from the ADOT collector to Lumigo
  src/config/sideBarData.js
  src/docs/partners/lumigo.mdx
Owners: @aws-otel/webteam

Clarify supported cloud.platform values
  src/docs/getting-started/x-ray.mdx
Owners: @aws-otel/webteam

Update processor typo
  src/docs/getting-started/x-ray.mdx
Owners: @aws-otel/webteam

Clarify supported cloud.platform values (#393)
  src/docs/getting-started/x-ray.mdx
Owners: @aws-otel/webteam

updating ssm doc with env variable (#372)
  src/docs/setup/ec2.mdx
Owners: @aws-otel/webteam

Update honeycomb section to also show pipeline config
  src/docs/components/otlp-exporter.mdx
Owners: @aws-otel/webteam

Update src/docs/components/otlp-exporter.mdx
  src/docs/components/otlp-exporter.mdx
Owners: @aws-otel/webteam

Update honeycomb section to also show pipeline config (#395)
  src/docs/components/otlp-exporter.mdx
Owners: @aws-otel/webteam

Update processor typo (#394)
  src/docs/getting-started/x-ray.mdx
Owners: @aws-otel/webteam
