Repository aws-otel/aws-otel.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-otel/webteam, @vijayansarathy, @willarmiros, @NathanielRN, @vasireddy99, @anuraaga, @Aneurysm9, @bryan-aguilar, @wangzlei, @erichsueh3

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

* @aws-otel/webteam

src/docs/getting-started/collector                         @aws-otel/webteam
src/docs/getting-started/container-insights                @aws-otel/webteam @vijayansarathy
src/docs/getting-started/dotnet-sdk                        @aws-otel/webteam @willarmiros @NathanielRN
src/docs/getting-started/ecs-configurations                @aws-otel/webteam @vasireddy99 @anuraaga
src/docs/getting-started/go-sdk                            @aws-otel/webteam @Aneurysm9 @bryan-aguilar
src/docs/getting-started/java-sdk                          @aws-otel/webteam @anuraaga
src/docs/getting-started/js-sdk                            @aws-otel/webteam @willarmiros
src/docs/getting-started/lambda                            @aws-otel/webteam @NathanielRN @vasireddy99 @willarmiros @wangzlei
src/docs/getting-started/prometheus-remote-write-exporter  @aws-otel/webteam @Aneurysm9 @erichsueh3
src/docs/getting-started/python-sdk                        @aws-otel/webteam @NathanielRN
src/docs/getting-started/ruby-sdk                          @aws-otel/webteam @anuraaga @NathanielRN

remove email link
  src/pages/getInvolvedPage/sections/mainBodySection.jsx
Owners: @aws-otel/webteam

remove email link (#359)
  src/pages/getInvolvedPage/sections/mainBodySection.jsx
Owners: @aws-otel/webteam

Update website for ADOT Collector release v0.20.0
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.20.0.mdx
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

remove unnecessary escape from lambda ARN
  src/docs/getting-started/lambda/lambda-java.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Update lambda-go.mdx
  src/docs/getting-started/lambda/lambda-go.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Update lambda-js.mdx
  src/docs/getting-started/lambda/lambda-js.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Update lambda-dotnet.mdx
  src/docs/getting-started/lambda/lambda-dotnet.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Update lambda-python.mdx
  src/docs/getting-started/lambda/lambda-python.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Update lambda-java-auto-instr.mdx
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Update sample Lambda layer ARN's and existing versions
  src/docs/getting-started/lambda/lambda-dotnet.mdx
  src/docs/getting-started/lambda/lambda-go.mdx
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
  src/docs/getting-started/lambda/lambda-java.mdx
  src/docs/getting-started/lambda/lambda-js.mdx
  src/docs/getting-started/lambda/lambda-python.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

update supported runtime in python
  src/docs/getting-started/lambda/lambda-python.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

fix internal quip link
  src/docs/getting-started/lambda/lambda-java.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Lambda Layer - July Release blog post
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-lambda-layer-v0.20.0.mdx
Owners: @aws-otel/webteam

change to v0.20.0
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-lambda-layer-v0.20.0.mdx
Owners: @aws-otel/webteam

Add scaffolding for smoke tests
  .github/workflows/main.yml
Owners: @aws-otel/webteam

Lambda Release July 2022 - Update sample layers and existing versions (#363)
  src/docs/getting-started/lambda/lambda-dotnet.mdx
  src/docs/getting-started/lambda/lambda-go.mdx
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
  src/docs/getting-started/lambda/lambda-java.mdx
  src/docs/getting-started/lambda/lambda-js.mdx
  src/docs/getting-started/lambda/lambda-python.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Lambda Layer - July Release blog post (#364)
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-lambda-layer-v0.20.0.mdx
Owners: @aws-otel/webteam

Chore: Allow to develop locally without a GitHub API key
  DEV_GUIDE.md
  gatsby-config.js
  src/plugins/contributorsPlugin/gatsby-node.js
Owners: @aws-otel/webteam

[Fix typo] Uses cases -> Use cases
  src/content/SiteContent/home-page.yaml
Owners: @aws-otel/webteam

[Fix typo] Uses cases -> Use cases (#366)
  src/content/SiteContent/home-page.yaml
Owners: @aws-otel/webteam

Update website for ADOT Collector release v0.20.0 (#361)
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.20.0.mdx
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

Impelement percentile based smoke test
  .github/workflows/main.yml
Owners: @aws-otel/webteam

Add support to Analytics using Cloudwatch RUM
  gatsby-config.js
  package-lock.json
  package.json
  src/plugins/websiteAnalyticsPlugin/gatsby-browser.js
  src/plugins/websiteAnalyticsPlugin/index.js
  src/plugins/websiteAnalyticsPlugin/package.json
Owners: @aws-otel/webteam

Add support to Analytics using Cloudwatch RUM (#367)
  gatsby-config.js
  package-lock.json
  package.json
  src/plugins/websiteAnalyticsPlugin/gatsby-browser.js
  src/plugins/websiteAnalyticsPlugin/index.js
  src/plugins/websiteAnalyticsPlugin/package.json
Owners: @aws-otel/webteam

Add changes from PR testing
  .github/workflows/main.yml
Owners: @aws-otel/webteam

fix spelling
  .github/workflows/main.yml
Owners: @aws-otel/webteam

Add newline
  .github/workflows/main.yml
Owners: @aws-otel/webteam

Update needs
  .github/workflows/main.yml
Owners: @aws-otel/webteam

Enable Syntax highlight to all languages in the documentation
  package-lock.json
  package.json
  src/@rocketseat/gatsby-theme-docs/styles/global.js
  src/docs/getting-started/java-sdk/trace-auto-instr.mdx
  src/docs/getting-started/java-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam, @anuraaga

Add pre-publish smoke test (#369)
  .github/workflows/main.yml
Owners: @aws-otel/webteam

Add sample application to the references
  src/docs/getting-started/java-sdk/trace-auto-instr.mdx
Owners: @aws-otel/webteam, @anuraaga

Make sure dependencies are consistent
  src/docs/getting-started/java-sdk/trace-auto-instr.mdx
  src/docs/getting-started/java-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam, @anuraaga

Add examples of usage of Metrics
  src/docs/getting-started/java-sdk.mdx
  src/docs/getting-started/java-sdk/trace-auto-instr.mdx
  src/docs/getting-started/java-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam, @anuraaga

Add histogram example
  src/docs/getting-started/java-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam, @anuraaga

Update src/docs/getting-started/java-sdk/trace-manual-instr.mdx
  src/docs/getting-started/java-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam, @anuraaga

updating ssm doc with env variable
  src/docs/setup/ec2.mdx
Owners: @aws-otel/webteam

Update with released ADOT nodejs Lambda layer ARNs aws-otel-nodejs-(amd64|arm64)-ver-1-5-0:2
  src/docs/getting-started/lambda/lambda-js.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Update with released ADOT nodejs Lambda layer ARNs aws-otel-nodejs-(amd64|arm64)-ver-1-5-0:2 (#373)
  src/docs/getting-started/lambda/lambda-js.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

fix: outdated classes
  src/docs/getting-started/python-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam, @NathanielRN

fix: outdated classes (#374)
  src/docs/getting-started/python-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam, @NathanielRN
