Repository aws-otel/aws-otel.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-otel/webteam, @vijayansarathy, @willarmiros, @NathanielRN, @vasireddy99, @anuraaga, @Aneurysm9, @bryan-aguilar, @wangzlei, @erichsueh3

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

* @aws-otel/webteam

src/docs/getting-started/collector                         @aws-otel/webteam
src/docs/getting-started/container-insights                @aws-otel/webteam @vijayansarathy
src/docs/getting-started/dotnet-sdk                        @aws-otel/webteam @willarmiros @NathanielRN
src/docs/getting-started/ecs-configurations                @aws-otel/webteam @vasireddy99 @anuraaga
src/docs/getting-started/go-sdk                            @aws-otel/webteam @Aneurysm9 @bryan-aguilar
src/docs/getting-started/java-sdk                          @aws-otel/webteam @anuraaga
src/docs/getting-started/js-sdk                            @aws-otel/webteam @willarmiros
src/docs/getting-started/lambda                            @aws-otel/webteam @NathanielRN @vasireddy99 @willarmiros @wangzlei
src/docs/getting-started/prometheus-remote-write-exporter  @aws-otel/webteam @Aneurysm9 @erichsueh3
src/docs/getting-started/python-sdk                        @aws-otel/webteam @NathanielRN
src/docs/getting-started/ruby-sdk                          @aws-otel/webteam @anuraaga @NathanielRN

ADOT PHP tracing support documentation
  src/docs/getting-started/php-sdk.mdx
  src/docs/getting-started/php-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam

Added PHP to sidebar
  src/config/sideBarData.js
  src/docs/getting-started/php-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam

addressed feedback
  src/docs/getting-started/php-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam

ADOT PHP tracing support documentation (#397)
  src/config/sideBarData.js
  src/docs/getting-started/php-sdk.mdx
  src/docs/getting-started/php-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam

Add Index to the docs
  src/docs/index.mdx
Owners: @aws-otel/webteam

move the note under autointrumentation
  package-lock.json
  src/docs/getting-started/lambda/lambda-java.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Revert chnages to package-lock.json
  package-lock.json
Owners: @aws-otel/webteam

Deps- shell-quote, parse-url, immer
  package-lock.json
Owners: @aws-otel/webteam

parse-link-header
  package-lock.json
Owners: @aws-otel/webteam

Deps from npm audit
  package-lock.json
Owners: @aws-otel/webteam

Fix Typo in the published layer ARN
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Update cloudwatch config in adot eks addon getting started guide
  src/docs/getting-started/adot-eks-add-on/config-cloudwatch.mdx
Owners: @aws-otel/webteam

Add release blog post
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.22.0.mdx
Owners: @aws-otel/webteam

Add blog post to index
  src/content/BlogPosts/blogPosts.yaml
Owners: @aws-otel/webteam

Add to downloads
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

add coralogix exporter docs
  src/config/sideBarData.js
  src/docs/partners/coralogix.mdx
Owners: @aws-otel/webteam

Add content for ADOT Collector release v0.22.0 (#401)
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.22.0.mdx
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

Lambda Layer Release Announcement Blog
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-lambda-layer-v0.22.0.mdx
Owners: @aws-otel/webteam

Lambda Layer Release - OCT 2022, Update Published versions
  src/docs/getting-started/lambda/lambda-dotnet.mdx
  src/docs/getting-started/lambda/lambda-go.mdx
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
  src/docs/getting-started/lambda/lambda-java.mdx
  src/docs/getting-started/lambda/lambda-js.mdx
  src/docs/getting-started/lambda/lambda-python.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Add link to the otlphttp exporter
  src/docs/partners/lumigo.mdx
Owners: @aws-otel/webteam

Update information about CW Logs metadata translation
  src/docs/getting-started/x-ray.mdx
Owners: @aws-otel/webteam

add user translation logic
  src/docs/getting-started/x-ray.mdx
Owners: @aws-otel/webteam

add user translation logic (#406)
  src/docs/getting-started/x-ray.mdx
Owners: @aws-otel/webteam

Update documentation to point to ADOT Java v1.19.0
  src/docs/getting-started/java-sdk/trace-auto-instr.mdx
  src/docs/getting-started/java-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam, @anuraaga

Fix java sdk lambda layer ver
  src/docs/getting-started/lambda/lambda-java.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Update information about CW Logs metadata translation (#405)
  src/docs/getting-started/x-ray.mdx
Owners: @aws-otel/webteam

Update Documentation to refer ADOT Java Agent v1.19.1
  src/docs/getting-started/java-sdk/trace-auto-instr.mdx
  src/docs/getting-started/java-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam, @anuraaga

Update Java dependency version to match the latest
  src/docs/getting-started/java-sdk/trace-auto-instr.mdx
  src/docs/getting-started/java-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam, @anuraaga

Add content for ADOT Collector release v0.23.0
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.23.0.mdx
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

Release Blog for v0.22.1
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.22.1.mdx
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

Add log retention to emf exporter documentation
  src/docs/getting-started/cloudwatch-metrics.mdx
Owners: @aws-otel/webteam

Update doc to reflect relevant info
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Modify message
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.22.1.mdx
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

Add download link
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

Inital commit for updating layer ARN
  src/docs/getting-started/lambda/lambda-dotnet.mdx
  src/docs/getting-started/lambda/lambda-go.mdx
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
  src/docs/getting-started/lambda/lambda-python.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Update Layer ARN's for all layers
  src/docs/getting-started/lambda/lambda-dotnet.mdx
  src/docs/getting-started/lambda/lambda-go.mdx
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
  src/docs/getting-started/lambda/lambda-java.mdx
  src/docs/getting-started/lambda/lambda-js.mdx
  src/docs/getting-started/lambda/lambda-python.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Change table frmat
  src/docs/getting-started/lambda/lambda-dotnet.mdx
  src/docs/getting-started/lambda/lambda-go.mdx
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
  src/docs/getting-started/lambda/lambda-java.mdx
  src/docs/getting-started/lambda/lambda-js.mdx
  src/docs/getting-started/lambda/lambda-python.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Update the note
  src/docs/getting-started/lambda/lambda-java.mdx
  src/docs/getting-started/lambda/lambda-js.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Change the tense
  src/docs/getting-started/lambda/lambda-dotnet.mdx
  src/docs/getting-started/lambda/lambda-go.mdx
  src/docs/getting-started/lambda/lambda-java.mdx
  src/docs/getting-started/lambda/lambda-python.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Update doc to use
  src/docs/getting-started/python-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam, @NathanielRN
