Repository aws-otel/aws-otel.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-otel/webteam, @vijayansarathy, @willarmiros, @NathanielRN, @vasireddy99, @anuraaga, @Aneurysm9, @bryan-aguilar, @wangzlei, @erichsueh3

Refactor depandabot file and bullet points in blog
  .github/dependabot.yml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.17.1.mdx
Owners: @aws-otel/webteam

Sigv4 Blog Post PR (#313)
  src/assets/img/blogs/erichsueh.jpeg
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/sigv4.mdx
Owners: @aws-otel/webteam

Document Flask Debug Mode auto instr limitation
  src/docs/getting-started/python-sdk/trace-auto-instr.mdx
Owners: @aws-otel/webteam, @NathanielRN

Document Flask Debug Mode auto instr limitation (#323)
  src/docs/getting-started/python-sdk/trace-auto-instr.mdx
Owners: @aws-otel/webteam, @NathanielRN

Seperate out the corrections in blog
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.17.1.mdx
Owners: @aws-otel/webteam

Seperate out the corrections in blog
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.17.1.mdx
Owners: @aws-otel/webteam

Refactor dependabot's file location (#322)
  .github/dependabot.yml
Owners: @aws-otel/webteam

Update Layer ARN's for Java Agent
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.17.1.mdx
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-lambda-layer-v0.18.0.mdx
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Add link to find available components for Lambda Layer custom configuration
  src/docs/getting-started/lambda.mdx
  src/docs/getting-started/lambda/lambda-dotnet.mdx
  src/docs/getting-started/lambda/lambda-go.mdx
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
  src/docs/getting-started/lambda/lambda-java.mdx
  src/docs/getting-started/lambda/lambda-js.mdx
  src/docs/getting-started/lambda/lambda-python.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

modify the link
  src/docs/getting-started/lambda.mdx
Owners: @aws-otel/webteam

update command output
  src/docs/getting-started/adot-eks-add-on/installation.mdx
Owners: @aws-otel/webteam

update command output (#328)
  src/docs/getting-started/adot-eks-add-on/installation.mdx
Owners: @aws-otel/webteam

Change to doc path instead of url
  src/docs/getting-started/lambda.mdx
  src/docs/getting-started/lambda/lambda-dotnet.mdx
  src/docs/getting-started/lambda/lambda-go.mdx
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
  src/docs/getting-started/lambda/lambda-java.mdx
  src/docs/getting-started/lambda/lambda-js.mdx
  src/docs/getting-started/lambda/lambda-python.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Change to doc path instead of url
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Add link to find available components for Lambda Layer custom configuration (#327)
  src/docs/getting-started/lambda.mdx
  src/docs/getting-started/lambda/lambda-dotnet.mdx
  src/docs/getting-started/lambda/lambda-go.mdx
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
  src/docs/getting-started/lambda/lambda-java.mdx
  src/docs/getting-started/lambda/lambda-js.mdx
  src/docs/getting-started/lambda/lambda-python.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

[datadog] Remove usage of deprecated options
  src/docs/partners/datadog.mdx
Owners: @aws-otel/webteam

[datadog] Remove usage of deprecated options (#329)
  src/docs/partners/datadog.mdx
Owners: @aws-otel/webteam

Update downloads with v0.19.0
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

Add v0.19.0 Collector blog post
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.19.0.mdx
Owners: @aws-otel/webteam

Update dependabot.yml
  .github/dependabot.yml
Owners: @aws-otel/webteam

Update dependabot.yml (#330)
  .github/dependabot.yml
Owners: @aws-otel/webteam

Update dates for release
  src/content/BlogPosts/blogPosts.yaml
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

Update website for ADOT Collector release v0.19.0 (#337)
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.19.0.mdx
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

Fix OTLP port references using old port numbers
  src/docs/components/otlp-exporter.mdx
  src/docs/docker-compose.mdx
  src/docs/getting-started/cloudwatch-metrics.mdx
  src/docs/getting-started/js-sdk/metric-manual-instr.mdx
  src/docs/getting-started/x-ray.mdx
  src/docs/partners/dynatrace.mdx
  src/docs/setup/build-collector-as-debian.mdx
  src/docs/setup/build-collector-as-rpm.mdx
  src/docs/setup/docker-images.mdx
  src/docs/setup/ecs/create-task-definition-console.mdx
Owners: @aws-otel/webteam, @willarmiros

Fix vulnerabilities for dependencies in `package-lock.json` (#339)
  package-lock.json
Owners: @aws-otel/webteam

updated cert-manager recommendation
  src/docs/getting-started/adot-eks-add-on/requirements.mdx
Owners: @aws-otel/webteam

removed extra whitespace
  src/docs/getting-started/adot-eks-add-on/requirements.mdx
Owners: @aws-otel/webteam

Update `cert-manager` recommendation (#345)
  src/docs/getting-started/adot-eks-add-on/requirements.mdx
Owners: @aws-otel/webteam

run npm audit fix
  package-lock.json
Owners: @aws-otel/webteam

Update gatsby version, add multer override
  package-lock.json
  package.json
Owners: @aws-otel/webteam

Update PR build npm install
  .github/workflows/pr.yml
Owners: @aws-otel/webteam

Update node version
  .github/workflows/pr.yml
Owners: @aws-otel/webteam

Update gatsby theme ver
  package-lock.json
  package.json
Owners: @aws-otel/webteam

Update deps versions to avoid peer dep conflict
  package-lock.json
  package.json
Owners: @aws-otel/webteam

Remove legacy peer dep from pr build
  .github/workflows/pr.yml
Owners: @aws-otel/webteam

Revert "Update dependencies to avoid peer dependency conflict. "
  .github/workflows/pr.yml
  package-lock.json
  package.json
Owners: @aws-otel/webteam

Revert "Upgrade dependencies"
  .github/workflows/pr.yml
  package-lock.json
  package.json
Owners: @aws-otel/webteam

Revert "Upgrade dependencies" (#352)
  .github/workflows/pr.yml
  package-lock.json
  package.json
Owners: @aws-otel/webteam

Remove GA tracking
  gatsby-config.js
  package-lock.json
  package.json
Owners: @aws-otel/webteam

Remove GA tracking (#353)
  gatsby-config.js
  package-lock.json
  package.json
Owners: @aws-otel/webteam

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

* @aws-otel/webteam

src/docs/getting-started/collector                         @aws-otel/webteam
src/docs/getting-started/container-insights                @aws-otel/webteam @vijayansarathy
src/docs/getting-started/dotnet-sdk                        @aws-otel/webteam @willarmiros @NathanielRN
src/docs/getting-started/ecs-configurations                @aws-otel/webteam @vasireddy99 @anuraaga
src/docs/getting-started/go-sdk                            @aws-otel/webteam @Aneurysm9 @bryan-aguilar
src/docs/getting-started/java-sdk                          @aws-otel/webteam @anuraaga
src/docs/getting-started/js-sdk                            @aws-otel/webteam @willarmiros
src/docs/getting-started/lambda                            @aws-otel/webteam @NathanielRN @vasireddy99 @willarmiros @wangzlei
src/docs/getting-started/prometheus-remote-write-exporter  @aws-otel/webteam @Aneurysm9 @erichsueh3
src/docs/getting-started/python-sdk                        @aws-otel/webteam @NathanielRN
src/docs/getting-started/ruby-sdk                          @aws-otel/webteam @anuraaga @NathanielRN
