Repository aws-otel/aws-otel.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-otel/webteam, @vijayansarathy, @willarmiros, @NathanielRN, @vasireddy99, @anuraaga, @Aneurysm9, @bryan-aguilar, @wangzlei, @erichsueh3

rebase (#243)
  src/assets/img/blogs/seth.jpg
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/arm64Images.mdx
Owners: @aws-otel/webteam

broken link (#297)
  src/docs/getting-started/lambda.mdx
Owners: @aws-otel/webteam

Fix erroneous references to aws_xray value
  src/docs/getting-started/python-sdk/trace-auto-instr.mdx
Owners: @aws-otel/webteam, @NathanielRN

changes to address review comments
  src/docs/getting-started/x-ray.mdx
Owners: @aws-otel/webteam

more refactoring
  src/docs/getting-started/x-ray.mdx
Owners: @aws-otel/webteam

refactoring data model field
  src/docs/getting-started/x-ray.mdx
Owners: @aws-otel/webteam

AWS X-Ray exporter data model translation behavior documentation (#296)
  src/docs/getting-started/x-ray.mdx
Owners: @aws-otel/webteam

update component table + note (#276)
  src/docs/releases.mdx
Owners: @aws-otel/webteam

remove duplicate paragraph in intro
  src/docs/getting-started/adot-eks-add-on.mdx
Owners: @aws-otel/webteam

add setup link
  src/docs/getting-started/lambda.mdx
Owners: @aws-otel/webteam

Update honeycomb section for OTLP export
  src/docs/components/otlp-exporter.mdx
Owners: @aws-otel/webteam

Updated package versions for manual instrumentation in python
  src/docs/getting-started/python-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam, @NathanielRN

add setup link (#301)
  src/docs/getting-started/lambda.mdx
Owners: @aws-otel/webteam

metrics GA doc changes
  src/docs/getting-started/adot-eks-add-on.mdx
  src/docs/getting-started/cloudwatch-metrics.mdx
  src/docs/getting-started/container-insights.mdx
  src/docs/getting-started/dotnet-sdk.mdx
  src/docs/getting-started/java-sdk.mdx
  src/docs/getting-started/prometheus-remote-write-exporter.mdx
  src/docs/getting-started/python-sdk.mdx
Owners: @aws-otel/webteam

Add v0180 to downloads
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

Add v0180 to downloads (#305)
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

Add v0180 release blog post
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.18.0.mdx
Owners: @aws-otel/webteam

Add link to metrics GA blog post
  src/content/BlogPosts/blogPosts.yaml
Owners: @aws-otel/webteam

Add WNP to announcements
  src/content/Announcements/announcements.yaml
Owners: @aws-otel/webteam

Lambda Release May 2022 - Update sample layers and existing versions
  src/docs/getting-started/lambda/lambda-dotnet.mdx
  src/docs/getting-started/lambda/lambda-go.mdx
  src/docs/getting-started/lambda/lambda-java-auto-instr.mdx
  src/docs/getting-started/lambda/lambda-java.mdx
  src/docs/getting-started/lambda/lambda-js.mdx
  src/docs/getting-started/lambda/lambda-python.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

Release blog
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-lambda-layer-v0.18.0.mdx
Owners: @aws-otel/webteam

Release blog
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-lambda-layer-v0.18.0.mdx
Owners: @aws-otel/webteam

Fixed dependency
  src/docs/getting-started/java-sdk/trace-manual-instr.mdx
Owners: @aws-otel/webteam, @anuraaga

add table
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-lambda-layer-v0.18.0.mdx
Owners: @aws-otel/webteam

Release blog for Lambda Layer Release (#309)
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-lambda-layer-v0.18.0.mdx
Owners: @aws-otel/webteam

Update the incorrect links
  src/docs/getting-started/lambda/lambda-java.mdx
Owners: @aws-otel/webteam, @NathanielRN, @vasireddy99, @willarmiros, @wangzlei

sigv4 blog post
  src/assets/img/blogs/erichsueh.jpeg
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/sigv4.mdx
Owners: @aws-otel/webteam

Correct wording on posts published
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.18.0.mdx
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-lambda-layer-v0.18.0.mdx
Owners: @aws-otel/webteam

Add Dependabot for the project
  .github/workflows/dependabot.yml
  .github/workflows/pr.yml
Owners: @aws-otel/webteam

Upgrade node version
  .github/workflows/pr.yml
Owners: @aws-otel/webteam

update packagelock
  package-lock.json
Owners: @aws-otel/webteam

Corrected Package-lock.json
  package-lock.json
Owners: @aws-otel/webteam

Corrected Package-lock.json (#316)
  package-lock.json
Owners: @aws-otel/webteam

specify month
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.18.0.mdx
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-lambda-layer-v0.18.0.mdx
Owners: @aws-otel/webteam

revert to use 16 - not upgrading in this PR
  .github/workflows/pr.yml
Owners: @aws-otel/webteam

adding release notes for v0.17.1
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.17.1.mdx
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

fixed a typo
  src/content/Downloads/downloads.yaml
Owners: @aws-otel/webteam

fixed indentation
  src/content/BlogPosts/blogPosts.yaml
Owners: @aws-otel/webteam

minor wording + title change
  src/content/BlogPosts/blogPosts.yaml
  src/content/Blogs/sigv4.mdx
Owners: @aws-otel/webteam

Update aws-distro-for-opentelemetry-collector-v0.17.1.mdx
  src/content/Blogs/ReleaseBlogs/aws-distro-for-opentelemetry-collector-v0.17.1.mdx
Owners: @aws-otel/webteam

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

* @aws-otel/webteam

src/docs/getting-started/collector                         @aws-otel/webteam
src/docs/getting-started/container-insights                @aws-otel/webteam @vijayansarathy
src/docs/getting-started/dotnet-sdk                        @aws-otel/webteam @willarmiros @NathanielRN
src/docs/getting-started/ecs-configurations                @aws-otel/webteam @vasireddy99 @anuraaga
src/docs/getting-started/go-sdk                            @aws-otel/webteam @Aneurysm9 @bryan-aguilar
src/docs/getting-started/java-sdk                          @aws-otel/webteam @anuraaga
src/docs/getting-started/js-sdk                            @aws-otel/webteam @willarmiros
src/docs/getting-started/lambda                            @aws-otel/webteam @NathanielRN @vasireddy99 @willarmiros @wangzlei
src/docs/getting-started/prometheus-remote-write-exporter  @aws-otel/webteam @Aneurysm9 @erichsueh3
src/docs/getting-started/python-sdk                        @aws-otel/webteam @NathanielRN
src/docs/getting-started/ruby-sdk                          @aws-otel/webteam @anuraaga @NathanielRN
